@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: "Noto Sans KR", sans-serif !important;
    background-color: #4C38D6;

  }


.landing-landingimg {
    width: 939px;
    height: 825px;
    object-fit: cover;
    position: relative;
    display: block; 
    margin: 0px auto;
    z-index: -1;
}


.div {
    display: flex;
}
.css-typing p {
    margin-top: -20px;
    border-right: .10em solid #CACACA;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    color: #CACACA;
      font-weight: 100;
    font-size: 17px;
    position: relative;
    left: 70px;
    top: 130px;

  }
  
  .css-typing p:nth-child(2) {
    line-height: 22px;
    color: #CACACA;
    font-weight: 100;
    font-size: 17px;
    position: relative;
    left: 70px;
    top: 170px;

  }
  
  .css-typing p:nth-child(3) {

    
    color: #ffffff;
    display: block; 
    margin: 0px auto;
    font-size: 32px;
    position: relative;
    align-self: center;

    top: 550px;
    font-weight: bold;
    width: 15.5em;
    opacity: 0;
    -webkit-animation: type3 2s steps(41, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(41, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .landing-arrow{
    display: block; 
    margin: 0px auto;
    position: relative;
    margin-top: -220px;
  }
  
  .landing-centertext {
    font-size: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 800px;
    color: #ffffff;
}


.landing-stoneimg {
    display: block; 
    margin: 0px auto;
    position: relative;
    top: 850px;
}

.first-button {
    margin-bottom: 20px;
}
 

 .landing-buttontext {
    position: relative;
     font-size: 18px;
     margin-bottom: 100px;
     color: #CACACA;
     border-bottom: solid #CACACA;
 }

 .landing-bnt {
    display: flex;
    justify-content: center;
    position: relative;

    top: 900px;
    margin-bottom: 400px;
 }

 .landing-bnt-box {
     width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;     
 }

  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

