@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/*세로 스크롤 왜 생긴건지 이유를 알 수 없음 찾아보기*/

.outer{
    width:100%;
    background-color:#E18963;
    font-family: 'Noto Sans KR', sans-serif;
}

.logo{
    position:absolute;
    top:0;
    left:5.9rem;
}

.pic{
    width:40%;
    position:absolute;
    left:3rem;
    bottom:0;
    z-index:10;
}

.left {
    position: absolute;
    right:0;
    width:50%;
    height:100%;
    text-align:center;
    justify-content: center;
}

.content{
    margin:0;
    margin-top:24.9rem;
}

.inputbox{
    opacity: 0.5;
    font-size: 2.4rem;
    background-color: #EEEEEE;
    border : none;
    border-radius: 1.2rem;
    padding:0.6rem;
    padding-left:2.3rem;
    margin-bottom: 1.6rem;
}

.inputbox:focus{
    opacity: 1;
    outline:none;
    color:black;
}

.title{
    color:white;
    margin-bottom: 8rem;
    font-size: 3rem;
}

.loginBtn{
    font-weight: bold;
    width:27rem;
    height:5.7rem;
    margin-top:5.4rem;
    background-color: #4C38D6;
    border : none;
    font-size: 2.4rem;
    color:#FFFFFF;
    border-radius:3rem;
    cursor: pointer;
}

.loginBtn:focus{
    outline:none;
}